<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Sign up for notification</title>
</head>

<body>
<header>
    <div class="inner">
        <h1>CSE Software</h1>
        <h2>Sign up for notification</h2>
        <a href="https://github.com/CSE-Software/CSE-Software.github.io" class="button"><small>View project on</small> GitHub</a>
    </div>
</header>

<div id="content-wrapper">
    <div class="inner clearfix" align="justify">
        <section id="main-content">
            <h2>Mailing list</h2>
            <h3>Using CSE-Forum</h3>
            To post a message to all the list members, send email to
            <a href="mailto:dhdo@csbsju.edu?">dhdo@csbsju.edu</a>
            You can subscribe to the list, or change your existing subscription, in the sections below.
            <h3>Subscribing to CSE-Forum</h3>
            Subscribe to CSE-Forum by visiting our <a href="https://groups.google.com/forum/#!members/csesoftware">
            google group</a> to subscribe. You will be sent email requesting confirmation, to prevent others from gratuitously
            subscribing you. This is a private list, which means that the list of members is not available to non-members.

            <h2>Mail digest subscriptions</h2>
            Subscribe our <a href="https://groups.google.com/forum/#!members/csesoftware">google group</a>
            to receive Mail digest, which sent out every week.

            <h2>Webinar signup</h2>
            Subscribe our <a href="Subscribe our google group to see our Webinar program">google group</a> to see our Webinar program

            <h2>Regional CSE Software gathering</h2>
            TBD

            <h4><a href="/index.html">Back to homepage</a></h4>
        </section>

        <aside id="sidebar">
            <a href="https://github.com/CSE-Software/CSE-Software.github.io/zipball/master" class="button">
                <small>Download</small>
                .zip file
            </a>
            <a href="https://github.com/CSE-Software/CSE-Software.github.io/tarball/master" class="button">
                <small>Download</small>
                .tar.gz file
            </a>

            <p class="repo-owner"><a href="https://github.com/CSE-Software/CSE-Software.github.io"></a> is maintained by <a href="https://github.com/Collegeville">Collegeville</a>.</p>

        </aside>
    </div>
</div>


</body>
</html>
