<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
{% include head-github.html %}
<body>
{% include svg-icons.html %}
{% include header-github.html %}

<div id="content-wrapper">
    <div class="inner clearfix" align="justify">
        <section id="main-content">
            {{ content }}
            <h4><a href="/index.html">Back to homepage</a></h4>
        </section>

        <aside id="sidebar">
            <a href="https://github.com/CSE-Software/CSE-Software.github.io/zipball/master" class="button">
                <small>Download</small>
                .zip file
            </a>
            <a href="https://github.com/CSE-Software/CSE-Software.github.io/tarball/master" class="button">
                <small>Download</small>
                .tar.gz file
            </a>

            <p class="repo-owner"><a href="https://github.com/CSE-Software/CSE-Software.github.io"></a> is maintained by <a href="https://github.com/Collegeville">Collegeville</a>.</p>

        </aside>
    </div>
</div>
</body>
</html>
