<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Search for scientific topic</title>
</head>

<body>
<header>
    <div class="inner">
        <h1>CSE Software</h1>
        <h2>Search for scientific topic</h2>
        <a href="https://github.com/Collegeville/Lex" class="button"><small>View project on</small> GitHub</a>
    </div>
</header>

<div id="content-wrapper">
    <div class="inner clearfix" align="justify">
        <section id="main-content">
            <h2>Introduction</h2>
            <p><a href="https://en.wikipedia.org/wiki/Software">Software</a> now becomes essential part in our modern world.
            Mastering software is required for all computer science researchers and students. Learning more about software
            <a href="https://collegeville.github.io/Lex/index.html">here</a>.</p>
            <p><a href="https://en.wikipedia.org/wiki/Computational_engineering">Computational science and engineering</a> (CSE) is about
            “development processes for software for computational science and engineering and related technical computing areas,
            with a particular interest in CSE on high-performance (parallel) computers.” Visit our <a href="https://cse-software.org/">
            CSE website</a> for full detail.</p>

            <h2>Online courses</h2>
            <ul>
                <li><a href="https://www.udacity.com/course/software-development-process--ud805">Software Development Process</a></li>
                <li><a href="http://ondemand.construx.com/catalog/">Contrucx courses</a></li>
                <li><a href="http://software-carpentry.org/lessons/">Software carpentry lessons</a></li>
            </ul>

            <h2>Tools and techniques</h2>
            Software tool and techniques effect on reducing software cost and time. Starting to learn by looking at this
            <a href="http://www.gao.gov/assets/200/192021.pdf">overview</a>
            <h3><strong>Common tool</strong></h3>
            A popular tool used in software is <a href="https://en.wikipedia.org/wiki/Git">Git</a> and
            <a href="https://en.wikipedia.org/wiki/GitHub">GitHub</a>.
            Here are some good resources for getting started:
            <ul>
                <li><a href="https://www.udacity.com/course/how-to-use-git-and-github--ud775">How to Use Git and GitHub</a></li>
                <li><a href="https://www.atlassian.com/git/tutorials/">Git tutorial</a></li>
                <li><a href="https://guides.github.com/activities/hello-world/">GitHub tutorial</a></li>
                <li><a href="https://ideas-productivity.org/resources/howtos/git-tutorial-and-reference-collection/">
                    Git Tutorial and Reference Collection Introduction</a></li>
            </ul>
            Another useful tool is <a href="https://eclipse.org/">Eclipse</a>.
            Here are some good resources for getting started:
            <ul>
                <li><a href="http://eclipsetutorial.sourceforge.net/totalbeginner.html">Eclipse And Java: Free Video Tutorials</a></li>
                <li><a href="http://www.tutorialspoint.com/eclipse/">Eclipse Tutorial</a></li>
            </ul>
            <a href="http://cppunit.sourceforge.net/doc/cvs/cppunit_cookbook.html">CppUnit</a> is the famous JUnit framework for
            unit testing. Download CppUnit <a href="https://sourceforge.net/projects/cppunit/">here</a>.
            <h3><strong>Techniques</strong></h3>
            There are some common techniques using on CSE software:
            <ul>
                <li><a href="https://www.thoughtworks.com/continuous-integration">Continuous Integration</a></li>
                <li><a href="https://smartbear.com/learn/automated-testing/">Automated Testing</a></li>
                <li><a href="http://agiledata.org/essays/tdd.html">Test Driven Development</a></li>
                <li><a href="https://www.agilealliance.org/glossary/pairing/">Pair Programming</a></li>
                <li><a href="http://www.tutorialspoint.com/design_pattern/design_pattern_overview.htm">Design Pattern </a></li>
                <li><a href="https://www.csie.ntu.edu.tw/~r95004/Refactoring_improving_the_design_of_existing_code.pdf">Code Refactoring</a></li>
            </ul>

            <h2>Relevant project</h2>
            <a href="https://ideas-productivity.org/resources/">IDEAS productivity</a> with purpose to improve
            compatibility and usability of important DOE libraries,
            improve the practices, processes and tools for scientific software development, and improve community knowledge.

            <h2>Relevant organizations</h2>
            <ul>
                <li><a href="https://www.software.ac.uk/">The Software Sustainability Institute</a></li>
                <li><a href="https://cse-software.org/">Computational Science & Engineering Software Forum</a></li>
                <li><a href="http://www.datacarpentry.org/">Data Carpentry</a></li>
                <li><a href="https://software-carpentry.org/">Software Carpentry</a></li>
            </ul>

            <h2>Sponsors</h2>
            This webpage has been created by <a href="https://github.com/maherou">Michael A. Heroux</a> with assistance from
            <a href="https://github.com/duongdo27">Duong Do</a> and <a href="https://github.com/jwillenbring">Jim Willenbring</a>.
            Our project is sponsored and funded by <a href="http://www.sandia.gov/">Sandia National Laboratories</a>.

            <h2>Frequently asked question:</h2>
            These are two recommended Q&A forums:
            <ul>
                <li><a href="http://scicomp.stackexchange.com/">Computational Science Stack Exchange </a></li>
                <li><a href="http://stackoverflow.com/search?tab=relevance&q=software">Software Stack overflow</a></li>
            </ul>

            <h2>Journal</h2>
            Here are some good journals about CSE software:
            <ul>
                <li><a href="https://www.software.ac.uk/resources/publications/better-software-better-research">
                    Better Software, Better Research</a></li>
                <li><a href="http://www.sandia.gov/~maherou/docs/HerouxSecseReproducibility.pdf">
                    Improving CSE Software through Reproducibility Requirements</a></li>
                <li><a href="http://cse.unl.edu/~elbaum/papers/journals/TSE-deployed05.pdf">
                    Profiling Deployed Software: Assessing Strategies and Testing Opportunities</a></li>
                <li><a href="http://www.sciencedirect.com/science/article/pii/S1877050910001687">
                    Applying software engineering methods and tools to CSE research projects</a></li>
            </ul>

            <h2>Workshops and conferences:</h2>
            <ul>
                <li><a href="http://digitalcommons.unl.edu/cseconfwork/">CSE Conference and Workshop Papers</a></li>
                <li><a href="https://cse-software.org/cfp-se4science16/">CFP: SE4Science’16 at ICSE’16 – Austin, TX – May 16, 2016</a></li>
                <li><a href="https://cse-software.org/computational-science-engineering-software-sustainability-and-productivity-challenges-csessp-challenges/">
                    Computational Science & Engineering Software Sustainability and Productivity Challenges (CSESSP Challenges)</a></li>
            </ul>

            <h4><a href="/index.html">Back to homepage</a></h4>
        </section>

        <aside id="sidebar">
            <a href="https://github.com/CSE-Software/CSE-Software.github.io/zipball/master" class="button">
                <small>Download</small>
                .zip file
            </a>
            <a href="https://github.com/CSE-Software/CSE-Software.github.io/tarball/master" class="button">
                <small>Download</small>
                .tar.gz file
            </a>

            <p class="repo-owner"><a href="https://github.com/CSE-Software/CSE-Software.github.io"></a> is maintained by <a href="https://github.com/Collegeville">Collegeville</a>.</p>

        </aside>
    </div>
</div>


</body>
</html>
